poetry

briefcase
tomli
tomli_w
pytest

PySide6-Essentials>=6.9
mosamatic-cli>=1.6
click<8.1.8
pendulum
pydicom
numpy
pandas
openpyxl
pillow
python-gdcm
scipy
torch
torchvision
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-io-gcs-filesystem>=0.31